<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./imports.ejs") %>
</head>
<body>
    <nav>
        <button>
        <a href="/animals">Back to the animal list page</a>
        </button>
    </nav>

    <p>Species: <%= animal.species %></p>
    <p>Extinct: <%= animal.extinct %></p>
    <p>Location: <%= animal.location %></p>
    <p>Life Expectancy: <%= animal.lifeExpectancy %></p>

    <form method="POST" action="/animals/<%= animal._id %>?_method=DELETE">
        <input type="submit" name="" value="delete animal" />
    </form>

    <a href="/animals/<%= animal._id %>/edit">
        <button>
            edit animal
        </button>
    </a>
</body>
</html>